service aconfigd-init /system/bin/aconfigd --initialize
    class core
    user system
    group system
    oneshot
    disabled # does not start with the core class
    reboot_on_failure reboot

service aconfigd /system/bin/aconfigd
    class core
    user system
    group system
    oneshot
    disabled # does not start with the core class
    reboot_on_failure reboot
    socket aconfigd stream 666 system system
